<div class="modal fade" id="loginSignUpModal" tabindex="-1" aria-labelledby="loginSignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalTitle">Welcome Back! Login to continue.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="img/login.gif" id="loginGif">
                        </div>
                        <div class="col">
                            <form action="/login" method="POST">
                                <div class="mb-3">
                                    <label for="username" class="form-label">UserName</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                                <div class="mb-3">
                                    <label for="pasword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            <div id="toogle">
                                
                    <button type="submit" class="btn btn-outline-success">Login</button>
                                <!-- <a class="btn btn-primary loginBtns" type="submit">Login</a>
                                <a href="/signup" class="btn btn-outline-secondary loginBtns" type="submit">Signup</a> -->
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="login-modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-6">
                            <div class="alert alert-danger" id="loginAlert"></div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="footer-padding"></div>
    <div class="footer">
        <p>Made with ❤️</p>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>
$("#toogleLogin").click(function () {

    if ($("#loginActive").val() == "1") {

        $("#loginActive").val("0")
        $("#loginModalTitle").html("Welcome New User! Sign up yourself.")
        $("#loginSignupButton").html("Sign up")
        $("#toogleLogin").html("Login")

    } else {

        $("#loginActive").val("1")
        $("#loginModalTitle").html("Welcome Back! Login to continue.")
        $("#loginSignupButton").html("Login")
        $("#toogleLogin").html("Sign up")

    }
})
</script>

</body>

</html>