<%- include('partials/header'); -%>

<div class="header-container">
    <div class="page-wrap">
        <figure>
            <div class="header-img-container">
                <div class="crop-height bg-image bg-position">
                    <img class="scale" src="img/van.jpg">
                </div>
            </div>
        </figure>
        <figcaption>

            <div class="container postBoxes">

                <div class="d-flex p-2 bd-highlight">
                    <figure>
                        <p>It's . Have a nice day ;-) </p>
                        <blockquote class="blockquote">
                            <p>""</p>
                        </blockquote>
                        <div>
                            <cite title="Source Title"> -</cite>
                        </div>
                    </figure>
                </div>

                <div class="d-inline-flex p-2 bd-highlight createPost">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/compose" type="button" class="btn btn-success">Create new post</a>
                    </div>
                </div>

            </div>

        </figcaption>
    </div>
</div>




<div class="b-example-divider"></div>


        <div class="container postBoxes">

            <div class="d-flex bd-highlight">

                    <div class="p-2 bd-highlight">
                        <div class="circle">
                            <p>
                                
                            </p>
                        </div>
                    </div>

                    <div class="p-2 my-4 flex-grow-1 bd-highlight">

                        <h1 class="display-4 fst-italic">
                            
                        </h1>
                        <p class="my-2">
                            <em>Category:</em>
                            <b></b> |
                            <em>Posted By:</em>
                            <b></b>
                        </p>
                        <p class="lead my-1">
                            
                        </p>
                        <small class="lead mt-1"><a href="/posts" class="fw-bold">Read
                                More</a></small>

                    </div>
            </div>
            <hr>
        </div>

<%- include('partials/footer'); -%>