<%- include('partials/header'); -%>

<div class="b-example-divider"></div>

<div class="container">

    <div class="d-flex bd-highlight">

        <div class="p-5 flex-grow-1 bd-highlight">
            <div class="container">


                    <div class="mb-4 bd-highlight">
                        <a type="button" class="btn btn-outline-warning postBtn" href="/">&#8592; Back</a>
                    </div>

                    <h1 class="display-4">
                        hello world
                    </h1>
                    <p class="my-1">
                        <em>Category:</em>
                        <b>tech</b>
                    </p>
                    <small>
                        <em>Posted by</em> <b>me</b> <em> on </em> <b></b>
                    </small>
                    <hr class="my-4">
                    <p>
                        adbsbss
                    </p>
                    <hr class="my-4">

            </div>
        </div>

        <div class="p-2 bd-highlight">
            <a type="button" class="btn btn-outline-info postBtn" href="/posts/edit/">Edit</a>
        </div>

        <form action="/deletePost" method="post">
            <div class="p-2 bd-highlight">
                <button type="submit" class="btn btn-danger postBtn" value=""
                    name="deletePost">Delete</button>
            </div>
        </form>

    </div>
</div>

</div>

    
<%- include('partials/footer'); -%>